@import url('../../../styles/variables.module.css');

.header {
  display: var(--display-flex);
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small);
  background-color: var(--primary-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: var(--z-index-header);
  width: 100%;
  box-shadow: 0 4px 6px var(--shadow-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
}

.title {
  color: white;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
}

.navbar {
  display: var(--display-flex);
  gap: var(--spacing-medium);
  margin-right: var(--spacing-large);
  margin-left: auto; 
}

.actions {
  display: var(--display-flex);
  gap: var(--spacing-small);
  align-items: center;
  margin-right: -10px;
}


@media (max-width: 1024px) {
  .navbar {
    display: none; 
  }

  .hamburgerWrapper {
    display: block; 
    margin-left: -10px;
   
  }

}


@media (min-width: 1025px) {
  .hamburgerWrapper {
    display: none; 
  }
}

.navLink {
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size-medium);
  transition: color var(--transition-fast);
}

.navLink:hover {
  color: var(--accent-color);
}
